*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

li.indicator-item:nth-child(1){
    background: url(images/icon-prev.svg) no-repeat center;
    margin-left: 200px !important;
    border-radius: 100px 0px 0px 100px !important;


}


li.indicator-item:nth-child(2){
    background: url(images/icon-next.svg) no-repeat center; 
    margin-left: -10px !important;
    border-radius: 0px 100px 100px 0px !important;

}

.indicators .indicator-item{
    height: 50px !important;
    width: 50px !important;
    margin-bottom: -15px !important;    

}

@media only screen and (max-width:600px){
    .carousel { 
        min-height:800px !important;
    }    
    .indicators .indicator-item{
        margin-bottom: 50px !important;    
    }
    li.indicator-item:nth-child(2){
        margin-right: 120px !important;
    }
}

.mytext{
    margin-top: 50px !important;
    margin-left: 50px !important;
    background:url(images/pattern-quotes.svg) no-repeat;
}
.img{
    background-image: url(images/pattern-bg.svg) no-repeat;
    position: absolute !important;
    top:80px !important;
}