*{
    padding:0px;
    margin:0px;
    
}
.logo{
    position: relative;
    top:80px;
    margin-left:12%;

}
.heading{
    position: relative;
    top:180px;
    margin-left: 12%;
    font-size:72px;
    font-family: 'Josefin Sans', sans-serif;
}

.image{
    position: relative;
    float: right;
    top:0px;
}

.text{
    color:  rgb(206, 151, 151);
    position: relative;
    top:210px;
    margin-left: 12%;
    font-family: 'Josefin Sans', sans-serif;
}
input{
    position: relative;
    top:250px;
    left: 12%;
    width: 25%;
    height:35px;
    border-radius:20px;
    border:2px solid rgb(206, 151, 151) ;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding:5px;
  position: relative;
  left:40%;
  top:30%;
}

.box{
	border:2px solid hsl(0, 36%, 70%);
    width:7%;
    position: relative;
    /*background-image:linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 74%, 74%));*/
    background: rgb(241, 128, 128);
    border-radius: 25px;
    height:50px;
    left:35%;
    box-shadow: 8px 8px 8px  rgb(216, 211, 211);
    top:205px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}



.attribution{
    position: fixed;
    left: 0;
    border: 1px solid lightgray;
    bottom: 0;
    width: 100%;
    color: rgb(73, 76, 95);
    text-align: center;
  }
  

